.Post {
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float:right;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: auto;
    background-color: white;
    color: black;
  }